*.log
*.pyc
__pycache__/
db-volumes/
db.sqlite3
*.db
*.db-shm
*.db-wal
*.db-journal
*.db-trace
*.db-trace-wal
*.db-trace-journal
*.db-trace-wal
*.db-trace-journal
*.db-trace-wal
*.db-trace-journal
*.db-trace-wal
*.db-trace-journal
*Scripts
*.venv
*.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
*Lib

